[Unit]
Description=Cuicuisine server
After=network.target docker.service

[Service]
ExecStart=/bin/bash /server/cuicuisine-backend/scripts/start-docker-rpi.sh
Type=simple
Restart=always


[Install]
WantedBy=default.target