pymongo
fastapi
pydantic
pydantic[email]
pydantic-mongo
uvicorn
python-jose
passlib
bcrypt==4.0.1
python-multipart
python-jose[cryptography]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pycryptodome